<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-108">
    <div class="cs-container">
        <ul class="cs-ul">
            <li class="cs-li">
                <a href="/" class="cs-link">Home</a>
            </li>
            <li class="cs-li">
                <a href="#stock" class="cs-link">Stock</a>
            </li>
            <li class="cs-li">
                <a href="#about" class="cs-link">About</a>
            </li>
            <li class="cs-li">
                <a href="#contact" class="cs-link">Contact</a>
            </li>
            <li class="cs-li">
                <a href="https://www.facebook.com/profile.php?id=61572389314464" class="cs-link">Facebook</a>
            </li>
        </ul>
        <span class="cs-copyright">© 2025 - Present {{ client.name }}. All Rights Reserved.</span>
        <a href="https://ramonawebdesigns.com" class="cs-credit">Website by Ramona Web Designs</a>
    </div>
</footer> 