<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-269">
    <div class="cs-container">
        <div class="cs-bottom">
            <span class="cs-copyright">© 2025 - Present {{ client.name }}</span>
            <span class="cs-credit">
                <a href="https://ramonawebdesigns.com" class="cs-credit-link" target="_blank" rel="noopener">Website by Ramona Web Designs</a>
            </span>
        </div>
    </div>
</footer> 