<!-- ============================================ -->
<!--                   Header                     -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/svgs/logo-white.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <a href="tel:{{ client.phoneForTel }}" class="cs-button-solid">Call Now</a>
    </div>
</header>