<!-- ============================================ -->
<!--                   Header                     -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <span style="color: black; font-size: 1.5rem; font-weight: bold;">Jack's Bargain Barn</span>
        </a>
        <a href="tel:(681) 207-7347" class="cs-button-solid">Call Now</a>
    </div>
</header>