<!-- ============================================ -->
<!--                   Header                     -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <span style="color: black; font-size: 1.5rem; font-weight: bold;">Jack's Bargain Barn</span>
        </a>
        <!-- Call Button - changes style based on screen size -->
        <a href="tel:6812077347" class="cs-call-button">
            <span class="cs-mobile-text">Call</span>
            <span class="cs-desktop-text">Call Now</span>
        </a>
    </div>
</header>