/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-269 {
        padding: 3.125rem 1rem;
        background-color: #1a1a1a;
    }

    #cs-footer-269 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cs-footer-269 .cs-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: auto;
    }

    #cs-footer-269 .cs-copyright,
    #cs-footer-269 .cs-credit {
        font-size: 1rem;
        line-height: 1.5em;
        color: var(--bodyTextColorWhite);
        margin: 0;
    }

    #cs-footer-269 .cs-credit-link {
        color: var(--primary);
        text-decoration: none;
        transition: color .3s;
    }

    #cs-footer-269 .cs-credit-link:hover {
        color: var(--primaryLight);
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-269 {
        padding: 4.375rem 1rem;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-269 {
        padding: 5rem 1rem;
    }
} 