/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
#reviews-727 {
    padding: var(--sectionPadding);
}

#reviews-727 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
    padding: 0 1rem;
}

#reviews-727 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews-727 .cs-title {
    max-width: 20ch;
    margin: 0 auto 1rem;
    text-align: center;
}

#reviews-727 .cs-text {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

#reviews-727 .cs-text a {
    color: var(--primary);
    text-decoration: none;
}

#reviews-727 .cs-text a:hover {
    text-decoration: underline;
}

#reviews-727 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

#reviews-727 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 33.875rem;
    margin: 0;
    padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
    box-sizing: border-box;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-radius: 1rem;
}

#reviews-727 .cs-icon {
    width: clamp(1.875rem, 4vw, 2.5rem);
    height: auto;
    margin: 0 0 2rem 0;
    display: block;
}

#reviews-727 .cs-h3 {
    font-size: clamp(1.25rem, 4vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    width: 100%;
}

#reviews-727 .cs-item-text {
    font-size: clamp(0.875rem, 4vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 2rem 0;
    color: var(--bodyTextColor);
}

#reviews-727 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 500;
    margin: auto 0 0 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

#reviews-727 .cs-name:before {
    content: "";
    width: 0.5rem;
    height: 1px;
    background: currentColor;
    display: block;
    position: relative;
}

/* Mobile - under 768px */
@media only screen and (max-width: 47.9375rem) {
    #reviews-727 .cs-card-group {
        flex-direction: column;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-727 .cs-container {
        padding: 0 2rem;
    }
    
    #reviews-727 .cs-card-group {
        flex-direction: row;
    }
    
    #reviews-727 .cs-item {
        width: calc(50% - 1rem);
    }
}
