/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1278 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    #sbs-1278 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 53.125rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        /* 48px - 108px */
        gap: clamp(3rem, 5vw, 6.75rem);
    }

    #sbs-1278 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbs-1278 .cs-title {
        max-width: 20ch;
    }

    #sbs-1278 .cs-text {
        margin-bottom: 1rem;
    }

    #sbs-1278 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }

    #sbs-1278 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        border: none;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        overflow: hidden;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition: color 0.3s;
    }

    #sbs-1278 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }

    #sbs-1278 .cs-button-solid:hover {
        color: #fff;
    }

    #sbs-1278 .cs-button-solid:hover:before {
        width: 100%;
    }

    #sbs-1278 .cs-picture {
        width: 100%;
        /* 456px - 598px */
        height: clamp(28.5rem, 46vw, 37.375rem);
        border-radius: 1.25rem;
        overflow: hidden;
        display: block;
        /* sends it to the bottom in the 2nd position */
        order: 2;
        position: relative;
        z-index: 1;
    }

    #sbs-1278 .cs-picture:before {
        /* black overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #1a1a1a;
        opacity: 0.3;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #sbs-1278 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    #sbs-1278 .cs-background {
        width: 100%;
        height: 50%;
        background-color: #1a1a1a;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    #sbs-1278 .cs-background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1278 .cs-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 2rem;
    }

    #sbs-1278 .cs-flex {
        width: 45%;
    }

    #sbs-1278 .cs-title {
        margin: 0;
    }

    #sbs-1278 .cs-text {
        width: 50%;
    }

    #sbs-1278 .cs-button-solid {
        margin-right: auto;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1278 {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);
    }

    #sbs-1278 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #sbs-1278 .cs-content {
        width: 100%;
        max-width: 27.0625rem;
        margin: 0;
        flex-direction: column;
        order: 2;
        row-gap: 0;
    }

    #sbs-1278 .cs-flex {
        width: 100%;
    }

    #sbs-1278 .cs-title {
        margin: 0 0 1rem 0;
        color: var(--headerColor);
    }

    #sbs-1278 .cs-text {
        width: 100%;
    }

    #sbs-1278 .cs-picture {
        max-width: 46.125rem;
        order: 1;
    }

    #sbs-1278 .cs-background {
        width: 60vw;
        height: 100%;
        /* 172px - 336px */
        margin-right: clamp(11.125rem, 30vw, 21rem);
        left: auto;
        right: 50%;
        top: 0;
    }
}

#about {
    padding: var(--sectionPadding);
    background-color: #F7F7F7;
    position: relative;
}

#about .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3.25rem;
}

#about .cs-content {
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

#about .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
}

#about .cs-text:last-of-type {
    margin-bottom: 0;
}

#about .cs-picture {
    width: 100%;
    max-width: 40.625rem;
    height: auto;
    display: block;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

#about .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about {
        padding: var(--sectionPadding);
    }

    #about .cs-container {
        flex-direction: column;
    }

    #about .cs-picture {
        /* height for mobile */
        height: 25rem;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #about .cs-picture {
        /* height for tablet */
        height: 30rem;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #about .cs-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #about .cs-content {
        width: 50%;
        margin: 0;
    }

    #about .cs-picture {
        width: 45%;
        /* height for desktop */
        height: 35rem;
    }
} 